main{
    height: 100vh;
    display: grid;
    place-items: center;
}
.container{
    text-align: center;
}
.container h2{
    color: white;
    background-color: black;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}
.btn{
    color: black;
    background-color: transparent;
    font-weight: 700;
    border: 2px solid black;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;

}
.btn:hover{
    color: white;
    background-color: black;
}
.container h2:hover{
    color: black;
    background-color: rgb(186, 186, 186);
    cursor: pointer;
}